#main-menu{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 64px;
    padding: 40px;
}

a{
    color: black;
}


#defaultCanvas0{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 200%;
}


.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 64px;
    padding-top: 40px;
    margin: 20px;
}

.content-text{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 30px;
}

.right-title{
    justify-content: flex-end;
}


#about-content{
    padding-top: 20px;
    display: flex;
    gap: 40px;
    flex: 1;
    align-items: center;
    padding-top: 40px;
    margin: 20px;
    
}

#selfie {
    max-width: 50%;
    height: auto;
    flex-shrink: 0; 
}

/* Grid code is mostly from online, with a lot of modification by me */
#social{
    margin-bottom: 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px;
    margin: 40px auto;
}

.grid-item {
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.grid-item h3 {
    font-family: 'Space Mono', 'monospace' ;
    margin-bottom: 10px;
}

.grid-item p {
    font-family: 'Space Mono', 'monospace' ;
    margin-bottom: 20px;
}

.grid-item a {
    color: black; /* Link color */
    text-decoration: none;
}

.grid-item a:hover {
    text-decoration: underline;
}

/* social buttons code */
.social-list{
    text-align: center;
    font-family: 'Space Mono', 'monospace' ;
}

.social-list li{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

#email{
    text-align: center;
}




/* footer code */
footer {
    background-color: #f0f0f0;
    padding-top: 10px;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.footer-social {
    padding-top: 30px;
    margin-right: 5px;
    font-size: 14px;
    font-family: 'Space Mono', 'monospace' ;
}

.footer-social a:hover {
    color: #0077b5; /* LinkedIn color */
}

.footer-social a:last-child {
    margin-right: 0;
}

